In [1]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\programdata\anaconda3\lib\site-packages (4.0.0-unsupported)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pyodbc

In [3]:
def create_server_connection(driver, server, database):
    conn = None
    try:
        conn = pyodbc.connect('Trusted_Connection=yes',driver='{ODBC Driver 17 for SQL Server}', database='master' , server ='localhost')
        print("MS SQL Server Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")
    return conn

In [4]:
driver = '(ODBC Driver 17 for SQL Server)'
server = 'DESKTOP-6T7JARD'
database = 'master'
conn = create_server_connection(driver, server, database)

MS SQL Server Database connection successful

# Creating A New Database

In [5]:
conn.autocommit = True

In [6]:
def create_database(conn, create_database_query):
    crs = conn.cursor()
    try:
        crs.execute(create_database_query)
        print("Database is created successfully")
    except Error as err:
        print(f"Error: '{err}'")

In [7]:
create_database_query = 'CREATE DATABASE Test_DB'
create_database(conn, create_database_query)

NameError: name 'Error' is not defined

# Creating A Query Execution Function

In [8]:
def execute_query(conn, query):
    crs = conn.cursor()
    try:
        crs.execute(query)
        conn.commit()
        print("Query successful!")
    except Error as err:
        print(f"Error: '{err}'")

In [9]:
query = 'USE Test_DB'
execute_query(conn, query)

Query successful!

In [10]:
query = "CREATE TABLE TestA(\
        ID int IDENTITY(1,1) NOT NULL,\
        FirstName varchar(255) NOT NULL,\
        LastName varchar(255) NOT NULL,\
        PRIMARY KEY(ID))"
execute_query(conn, query)

NameError: name 'Error' is not defined

### Insert

In [36]:
crs = conn.cursor()

In [12]:
crs.execute("INSERT TestA (FirstName, LastName) VALUES ('Bob','Marley')")
conn.commit

In [13]:
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)", 'Bruce','Lee')

In [14]:
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)", 'Bruce','Lee')

In [15]:
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)", 'Tom','Hanks')
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)", 'Tony','Stark')

In [16]:
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)", 'Tom','Hanks')
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)", 'Tony','Stark')

In [17]:
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)", 'Tom','Hanks')
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)", 'Tony','Stark')

### Update / Delete

In [18]:
crs.execute("DELETE FROM TestA where FirstName='Bob'")

In [19]:
crs.execute("DELETE FROM TestA where FirstName=?", 'Bruce')

In [20]:
crs.rowcount # En son yapılan işlem kaç satırı etkiledi onu gösterir.

2

### Reading Data

In [21]:
crs.execute("SELECT FirstName, LastName FROM TestA")
row = crs.fetchone()
row

('Tom', 'Hanks')

In [22]:
if row:
    print(row)
else:
    print("Empty table")

('Tom', 'Hanks')

In [23]:
row.FirstName

'Tom'

In [24]:
row.LastName

'Hanks'

In [25]:
crs.execute("SELECT ID, FirstName, LastName FROM TestA")
rows = crs.fetchall()
rows

[(3, 'Tom', 'Hanks'),
 (4, 'Tony', 'Stark'),
 (5, 'Tom', 'Hanks'),
 (6, 'Tony', 'Stark'),
 (11, 'Tom', 'Hanks'),
 (12, 'Tony', 'Stark'),
 (13, 'Tom', 'Hanks'),
 (14, 'Tony', 'Stark'),
 (15, 'Tom', 'Hanks'),
 (16, 'Tony', 'Stark'),
 (20, 'Tom', 'Hanks'),
 (21, 'Tony', 'Stark'),
 (22, 'Tom', 'Hanks'),
 (23, 'Tony', 'Stark'),
 (24, 'Tom', 'Hanks'),
 (25, 'Tony', 'Stark')]

In [26]:
for row in rows:
    print(row.ID, row.FirstName, row.LastName)

3 Tom Hanks
4 Tony Stark
5 Tom Hanks
6 Tony Stark
11 Tom Hanks
12 Tony Stark
13 Tom Hanks
14 Tony Stark
15 Tom Hanks
16 Tony Stark
20 Tom Hanks
21 Tony Stark
22 Tom Hanks
23 Tony Stark
24 Tom Hanks
25 Tony Stark

In [27]:
type(rows)

list

In [28]:
crs.execute("""SELECT ID, FirstName, LastName FROM TestA WHERE FirstName = ? and LastName = ?""", ['Bruce','Lee'])
rows = crs.fetchmany(2)
rows

[]

In [29]:
crs.execute("""SELECT ID, FirstName, LastName FROM TestA""")
rows = crs.fetchmany(2)
rows

[(3, 'Tom', 'Hanks'), (4, 'Tony', 'Stark')]

In [30]:
rows = crs.fetchmany(2)
rows

[(5, 'Tom', 'Hanks'), (6, 'Tony', 'Stark')]

In [37]:
def read_query(conn, query):
    crs = conn.cursor()
    results = None
    crs.execute(query)
    results = crs.fetchall()
    # crs.close()
    # del crs
    return results

In [32]:
query = """SELECT ID, FirstName, LastName From TestA"""
read_query(conn, query)

Error: ('HY000', '[HY000] [Microsoft][ODBC Driver 17 for SQL Server]Connection is busy with results for another command (0) (SQLExecDirectW)')

In [39]:
results

NameError: name 'results' is not defined