EXERCISE 1. The hourly wages in a particular industry are normally distributed with mean $13.20 and standard deviation $2.50. A company in this industry employs 40 workers, paying them an average of $12.20 per hour. Can this company be accused of paying substandard wages? Use an α = .01 level test.

In [1]:
import scipy.stats as stats
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
x_bar = 12.20 # sample mean per hour
n = 40 # number of workers
s = 2.50 # sd of population
mu = 13.20 # Population mean 
alpha = 0.01

In [3]:
t = (x_bar - mu)/(s/np.sqrt(n))
t

-2.5298221281347035

In [4]:
p_value = stats.t.cdf(t, n-1)
p_value

0.0077816812266594355

In [5]:
for alpha in (0.1,0.05,0.01):
    if p_value < alpha:
        print('At {} level of significance, we can reject the null hypothesis in favor of alternative hypothesis.'.format(alpha))
    else:
        print('At {} level of significance, we fail to reject the null hypothesis.'.format(alpha))

At 0.1 level of significance, we can reject the null hypothesis in favor of alternative hypothesis.
At 0.05 level of significance, we can reject the null hypothesis in favor of alternative hypothesis.
At 0.01 level of significance, we can reject the null hypothesis in favor of alternative hypothesis.

In [6]:
# At 0.01 level of significance, we can reject the null hypothesis in favor of alternative hypothesis.

EXERCISE 2.Shear strength measurements derived from unconfined compression tests for two types of soils gave the results shown in the following document (measurements in tons per square foot). Do the soils appear to differ with respect to average shear strength, at the 1% significance level?

In [7]:
soil = pd.read_csv("soil.csv")

In [8]:
soil

    Soil1  Soil2
0   1.442  1.364
1   1.943  1.878
2   1.110  1.337
3   1.912  1.828
4   1.553  1.371
5   1.641  1.428
6   1.499  1.119
7   1.347  1.373
8   1.685  1.589
9   1.578  1.714
10  1.866  1.260
11  1.653  1.492
12  1.665  1.395
13  1.640  1.778
14  1.976  1.611
15  1.754  1.202
16  1.589  1.542
17  1.976  1.094
18  1.863  1.557
19  1.932  1.053
20  1.570  1.183
21  1.613  1.367
22  2.054  1.144
23  1.550  1.151
24  1.714  1.561
25  1.896  1.192
26  1.737  1.489
27  1.740  1.379
28  1.708  1.501
29  1.548  1.277
30    NaN  1.593
31    NaN  1.172
32    NaN  1.510
33    NaN  1.740
34    NaN  1.355

In [9]:
soil1 = soil["Soil1"].dropna()
soil2 = soil["Soil2"]

H0: µ1 = µ2 ("the two population means are equal")

H1: µ1 ≠ µ2 ("the two population means are not equal")

α = .01

In [10]:
stats.levene(soil1, soil2)

LeveneResult(statistic=0.3148629298209055, pvalue=0.5767018253541134)

In [11]:
statistics , p_value = stats.ttest_ind(soil1, soil2)
p_value

2.593228732352821e-06

In [12]:
for alpha in (0.1,0.05,0.01):
    if p_value < alpha:
        print('At {} level of significance, we can reject the null hypothesis in favor of alternative hypothesis.'.format(alpha))
    else:
        print('At {} level of significance, we fail to reject the null hypothesis.'.format(alpha))

At 0.1 level of significance, we can reject the null hypothesis in favor of alternative hypothesis.
At 0.05 level of significance, we can reject the null hypothesis in favor of alternative hypothesis.
At 0.01 level of significance, we can reject the null hypothesis in favor of alternative hypothesis.

In [13]:
# At 0.01 level of significance, we can reject the null hypothesis in favor of alternative hypothesis.